<html>

<body>
    <h1>Predict Bankrupty</h1>
    <form action="https://chocolate-study.herokuapp.com:5000/" method='post'>
        <p>Please enter the NP to TA ratio（赚钱）</p>
        <p><input type="number" step="0.01" name="NP_TA"></p>
        <p>Please enter the TL to TA ratio（欠钱）</p>
        <p><input type="number" step="0.01" name="TL_TA"></p>
        <p>Please enter the WC to TA ratio（需要多少钱）</p>
        <p><input type="number" step="0.01" name="WC_TA"></p>
        <p><input type="submit" value='enter'></p>
    </form>
    {{result}}
</body>

</html>